header{
  color: white;
  background-color: black;
  text-align: center;
  height: 50px;
}
#login{
  position: relative;
  left: 30%;
  top: 15px;
}
#headerText{
  position: relative;
  top: 15px;
}
#spinner{
  position: fixed;
  width: 30px;
  height: 30px;
  left: 50px;
  top: 15px;
  border-radius: 10px;
  background-color: white;
  animation: spinIt 7s;
  animation-iteration-count: infinite;
}

@keyframes spinIt{
  0%{transform: rotate(deg);}
  10%{transform: rotate(36deg);background-color: red;}
  20%{transform: rotate(72deg);left: 80%}
  30%{transform: rotate(108deg);background-color: blue;}
  40%{transform: rotate(144deg);}
  50%{transform: rotate(180deg);background-color: yellow;}
  60%{transform: rotate(216deg);}
  70%{transform: rotate(252deg);background-color: green}
  80%{transform: rotate(288deg); }
  90%{transform: rotate(324deg);background-color: pink}
  100%{transform: rotate(360deg);}
}

@-webkit-keyframes spinIt{
  0%{transform: rotate(deg);}
  10%{transform: rotate(36deg);background-color: red;}
  20%{transform: rotate(72deg);left: 80%}
  30%{transform: rotate(108deg);background-color: blue;}
  40%{transform: rotate(144deg);}
  50%{transform: rotate(180deg);background-color: yellow;}
  60%{transform: rotate(216deg);}
  70%{transform: rotate(252deg);background-color: green}
  80%{transform: rotate(288deg); }
  90%{transform: rotate(324deg);background-color: pink}
  100%{transform: rotate(360deg);}
}

#search{
  position: relative;
  width: 165px;
  margin-left: 75%;
}

/******SIDEMENU********/
#menuBar{
  width: 17%;
  margin-top: 4%;
  margin-left: -14%;
  float: left;

}
.sideMenu{
  background-color: #006699;
  transition: transform 2s;
  margin-bottom: 2%;
  padding: 3%;
  border-radius: 20px;
  text-align: right;

}
/*****************SIDEMENU HOVER*****************/
.sideMenu:hover{
  -webkit-transform:translateX(40%);
  transform: translateX(40%);
}
.menuIcon{
  float: right;
  margin-right: 5%;
  height:22px;
  width:22px
}
.menuText{
color: white;
padding-right: 10%;
}


/******SIDEMENU END********/
#splashContent{
  width: 75%;
  margin-left: auto;
  margin-right: auto;

}
#splashScreen{
  background-color: #996699;
  margin-top: 5%;
  text-align: center;
  padding: 5px;
}

#btnProceed{
  text-decoration: none;
  color: white;
}

#loader{
height: 25px;

}
#loadBar{
  position: fixed;
  animation: loadingPic 3s;
  animation-iteration-count: infinite;
  width: 120px;
  background-color: #006699;
  color: white;
  font-size: 22px;
  text-align: center;
}

@keyframes loadingPic{
0% {left:100px;}
10% {left:200px;}
20% {left:300px;}
30% {left:400px;}
40% {left:500px;}
50% {left:600px;}
60% {left:700px;}
70% {left:800px;}
80% {left:850px;}
90% {left:900px;}
100% {left: 1600px;}
}


@-webkit-keyframes loadingPic{
0% {left:100px;}
10% {left:200px;}
20% {left:300px;}
30% {left:400px;}
40% {left:500px;}
50% {left:600px;}
60% {left:700px;}
70% {left:800px;}
80% {left:850px;}
90% {left:900px;}
100% {left: 1600px;}
}
/******content********/
#content{
  margin-top: 1%;
  margin-right: 10%;
  width: 75%;
  float: right;
}

.photoAlbum{
  height: 190px;
  width: 190px;
}

figure{
  float: left;
  border: solid;
  border-width: thin;
  text-align: center;
  height: 230px;
  width: 230px;
  padding-top: 2%;
  margin: 10px;
  overflow: hidden;
}
/******Footer********/
footer{
  color: white;
  background-color: black;
  text-align: left;
  bottom:0px;
  left: 5px;
  right: 5px;
  padding-left: 15px;
  height: 30px;
  position: fixed;

}
#footerText{
  position: relative;
  top: 10px;

}
